group::{}[]{{
SYSLOG={FechaAlta,UsuarioAlta,FechaMod,UsuarioMod,Activo,iActivo}
SYSLOGDATE={FechaAlta,FechaMod,dtFechaMod}
SYSLOGUSER={UsuarioAlta,UsuarioMod,vcUsuarioAlta,vcUsuarioMod}
SYSLOGALTA={FechaAlta,UsuarioAlta,dtFechaAlta}
SYSLOGAUTORIZA={dtFechaAutorizo,dtFechaRechazo}
}}