key::{}[]{{
CPP:I:init=0
CPP:S:init=""
CPP:F:init=0.0
CPP:TS:init=""
CPP:T:init=""
CPP:D:init="01/01/1900"

VBNET:I:init=0
VBNET:S:init=""
VBNET:F:init=0.0
VBNET:TS:init=""
VBNET:T:init=""
VBNET:D:init="01/01/1900"
VBNET:TS:quot='
VBNET:S:quot='
VBNET:I:quot=
VBNET:D:quot='

VB6:I:init=0
VB6:S:init=""
VB6:F:init=0.0
VB6:TS:init=""
VB6:T:init=""
VB6:D:init="01/01/1900"
VB6:C:namespace = tsoft

SQL:I:init=0
SQL:S:init=''
SQL:F:init=0.0
SQL:TS:init=''
SQL:T:init=''
SQL:D:init='01/01/1900'

SQLSP:I*:init=0
SQLSP:I:init=0
SQLSP:S:init=''
SQLSP:F:init=0.0
SQLSP:TS:init=''
SQLSP:T:init=''
SQLSP:D:init='01/01/1900'

VB6:SEXO:sufijo=  adInteger, , adFldUpdatable
VB6:I:sufijo=  adInteger, , adFldUpdatable
VB6:#:sufijo=  adInteger, , adFldUpdatable
VB6:S:sufijo= adVarChar, 255, adFldUpdatable
VB6:D:toString=.toString("yyyy-MM-dd hh:mm:ss.000")
VBNET:D:toString=.toString("yyyy-MM-dd hh:mm:ss.000")
VBNET:D:FormatLeft=Format(
VBNET:D:FormatRight=,"dd/mm/yyyy")

PHP:TS:quot='
PHP:S:quot='
PHP:I:quot=
PHP:D:quot='
PHP:D:toString= // DEL TIPO FECHA
PHP:D:FormatLeft=_KAjustaFecha(
PHP:D:FormatRight=)

SQL:I:tab=\t
CPP:S:toString=.toString("yyyy-MM-dd hh:mm:ss.000")
ANT:I:base={propertyparameter}:{type}
}}