type::{}[]{{
VB6:*i = Long
VB6:i* = Long
VB6:i*# = Long
VB6:*# = Long
VB6:#* = Long
VB6:i = Long
VB6:s = String
VB6:f = Double 
VB6:d = Date
VB6:l = Long

#Translation for VB.Net
VBNET:i* = Integer
VBNET:*# = Integer
VBNET:#* = Integer
VBNET:i = Integer
VBNET:s = String
VBNET:f = Double 
VBNET:d = Date
VBNET:l = Long

#Translation for C++
CPP:i = int
CPP:# = int
CPP:s = wstring
CPP:ts = wstring
CPP:t = wstring
CPP:f = float
CPP:d = date
CPP:l = long
CPP:#* = int
CPP:*# = int

C#:i = int
C#:# = int
C#:s = string
C#:ts = string
C#:t = string
C#:f = double
C#:d = Date
C#:l = long
C#:#* = int
C#:*# = int

SWIFT:i* = Int
SWIFT:i = Int
SWIFT:# = Int
SWIFT:s = String
SWIFT:ts = String
SWIFT:t = String
SWIFT:f = Double
SWIFT:d = NSDate
SWIFT:l = Int
SWIFT:#* = Int
SWIFT:*# = Int

#Translation for SQL Server
SQL:# = INT IDENTITY(1,1)
SQL:*# = INT IDENTITY(1,1)
SQL:#* = INT IDENTITY(1,1)
SQL:i = INT
SQL:*i = INT
SQL:i* = INT
SQL:s = VARCHAR(256)
SQL:ts = VARCHAR(256)
SQL:t = VARCHAR(512)
SQL:f = FLOAT
SQL:d = DATETIME
SQL:l = INT

SQLSP:# = INT
SQLSP:*# = INT
SQLSP:#* = INT
SQLSP:i* = INT
SQLSP:*i = INT
SQLSP:i = INT
SQLSP:s = VARCHAR(256)
SQLSP:t = VARCHAR(512)
SQLSP:f = FLOAT
SQLSP:d = DATETIME
SQLSP:l = INT

#Translation for MySQL
MYSQL:# = INT AUTO_INCREMENT
MYSQL:*# = INT AUTO_INCREMENT
MYSQL:#* = INT AUTO_INCREMENT
MYSQL:i = INT
MYSQL:s = VARCHAR(256)
MYSQL:t = VARCHAR(512)
MYSQL:f = FLOAT
MYSQL:d = DATETIME
MYSQL:l = INT

ADODB:# = adInteger, , adFldUpdatable
ADODB:i = adInteger, , adFldUpdatable
ADODB:s = adVarChar, 255, adFldUpdatable
ADODB:t = adVarChar, 512, adFldUpdatable
ADODB:f = adDouble, , adFldUpdatable
ADODB:d = adDBDate, 255, adFldUpdatable
ADODB:l = adInteger, , adFldUpdatable

ESP:s = Cadena de Texto
ESP:t = Cadena de Texto Largo
ESP:i = Un Numero Entero
ESP:l = Un Entero Largo
ESP:f = Un Numero de Punto Flotante
ESP:d = Una Fecha
ESP:b = Una Cadena de datos binarios
ESP:# = Un Numero Autonumerico

CSS:s = s
CSS:ts = ts

JSLIST:s= String
JSLIST:t= Text
JSLIST:i= Integer
JSLIST:*#= Identity
JSLIST:ts= Text

SQLDBTYPE:i = SqlDbType.Int
SQLDBTYPE:i* = SqlDbType.Int
SQLDBTYPE:*i = SqlDbType.Int
SQLDBTYPE:s = SqlDbType.VarChar
SQLDBTYPE:s* = SqlDbType.VarChar
SQLDBTYPE:*s = SqlDbType.VarChar
SQLDBTYPE:ts = SqlDbType.VarChar
SQLDBTYPE:t = SqlDbType.VarChar
SQLDBTYPE:f = SqlDbType.Float
SQLDBTYPE:l = SqlDbType.BigIni
SQLDBTYPE:d = SqlDbType.DateTime
SQLDBTYPE:d* = SqlDbType.DateTime
SQLDBTYPE:*d = SqlDbType.DateTime
SQLDBTYPE:b = SqlDbType.Image

}}